[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[dcdee3cf-c846-4b42-afdb-c526d8ede018]
row=0
col=0

[6d236cdf-cb37-448b-8cce-a49ca01c475f]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/rob]
row=4
col=0

